rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /nature_log/{logID} {
      allow read: if checkAuthentication();
    }

    function checkAuthentication() {
      return request.auth != null;
    }
  }
}
